repos:
  - repo: local
    hooks:
      - id: banner
        name: Aegis-CI Banner
        entry: python scripts/banner.py
        language: python
        verbose: true
        always_run: true

      - id: dlp-check
        name: Aegis DLP Scanner
        entry: python scripts/dlp_check.py
        language: python
        types: [text]
        exclude: ^scripts/|README.md|SCENARIOS.md  # Exclure les scripts eux-mêmes et la doc

      - id: compliance-check
        name: Aegis Compliance Gatekeeper
        entry: python scripts/compliance_check.py
        language: python
        pass_filenames: false
        always_run: true

      - id: reporter
        name: Aegis PDF Reporter
        entry: python scripts/reporter.py
        language: python
        pass_filenames: false
        always_run: true
        verbose: true

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.1
    hooks:
      - id: gitleaks

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0  # Bibliothèque standard de hooks
    hooks:
      - id: check-yaml        # Vérifie la syntaxe YAML
      - id: check-json        # Vérifie la syntaxe JSON
      - id: end-of-file-fixer # Ajoute une ligne vide à la fin (bonne pratique Linux)
      - id: trailing-whitespace # Supprime les espaces inutiles en fin de ligne
      - id: check-added-large-files # Empêche de commiter des fichiers géants accidentellement
